
/************************************************************************************PARA ERROR NG-ANGULAR
*************************************************************************************/
input.ng-invalid, select.ng-invalid {
    background-color: #832424;
}
input.ng-valid, select.ng-valid {
    background-color: #DAF7D8;
}

/************************************************************************************
CONFIGURACION BASE
*************************************************************************************/
body{
    background: #231010;
/*    background-image: url("../../img/backgrounds/Fondo_1.png");
    background-repeat: round !important;
    background-color: #231010;*/
}

div {
    border-radius: 5px;
    text-align: center ;
}

label.miEstilo {
    font-family: "Times New Roman";
    font-size: 40px;
}

input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=email], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}


input[type=file], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

th, td {
      border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: white}

th {
    background-color: #333;
    color: white;
}

/************************************************************************************
BOTONES
*************************************************************************************/

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-red {
    border-radius: 5px;
    background-color: #AA2424;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-blue {
    border-radius: 5px;
    background-color: #1E3C97;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-orange {
    border-radius: 5px;
    background-color: #CF6024;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-gray {
    border-radius: 5px;
    background-color: #8E9BA1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-yellow {
    border-radius: 5px;
    background-color: #BC9E28;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-green {
    background-color: #4CAF50;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 2px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 }

.button-green span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-green span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-green:hover span {
  padding-right: 25px;
}

.button-green:hover span:after {
  opacity: 1;
  right: 0;
}

.button-orange-disabled {
    border-radius: 2px;
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.65;
    cursor: not-allowed;
    transition-duration: 0.4s;
}

.button-red-disabled {
    border-radius: 2px;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.65;
    cursor: not-allowed;
    transition-duration: 0.4s;
}

.button-orange2 {
    border-radius: 2px;
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 87%;
    font-family: "Verdana";
    transition-duration: 0.4s;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}

#botonInicio{
    margin-top: 10px;
}

#botonVolver{
    background-color: #E0644C; /* Green */
    border-radius: 15px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#botonVolver:hover{
    background-color: #94493A;
}

/************************************************************************************
INICIO PAGE
*************************************************************************************/
.container{
    color: white;
}

#Titulo{
    margin: 0;
    color: #B9A0A0;
    font-style: italic;
    font-family: "Georgia", Times, serif;
}

#imagenBase{
    margin: 0 auto;
    width: 600px;
    height: 680px;
    padding-top: 80px;
    padding-bottom: 15px;
    border-color: black;
    border-right: 15px;
}

#intro{
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    font-family: "Georgia", Times, serif;
    color:#F6E8E8;
}

.fraseLogueado{
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    font-family: "Georgia", Times, serif;
    color:#DBA78A;
}

/************************************************************************************
BARRA DE OPCIONES PRINCIPAL
*************************************************************************************/

.nav_usuario{
    position: fixed;
}

.navbar{
    /* gradient */
    background: #6C2020;
    background: -webkit-gradient(linear, left top, left bottom, from(#732424), to(#803939));
    background: -moz-linear-gradient(top,  #732424,  #000000);
    background: linear-gradient(-90deg, #732424, #0D0D0D);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    /* transition */
    -webkit-transition: width .7s;
    -moz-transition: width .7s;
    transition: width .7s;
}

/************************************************************************************
LOGIN & REGISTER PAGE
*************************************************************************************/

/**************LOGIN**************/
.Frm{
    margin: 0 auto;
    position: relative;
}

.loginForm{
    color: white;
}
.loginForm input{
    color:black;
}

#limpiarLogin{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.FormIngreso input{
    color:black;
}

/************REGISTRO************/
.registerForm{
 margin: 0 auto;
 color: white;
}

.registerForm input, select{
  color:black;
}

.validacion{
  color:red;
}

.perfil{
    color:white;
}

.registerForm #calle, #altura{
    width: 235px;
}

a.volverIcon{
    width: 40px;
    height: 40px;
    position: relative;
}

/************PERFIL************/
#tablaPerfil{
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    width: 500px;
}

#updateButton{
    display: block;
    width: 100%;
}

/************************************************************************************
MENU ADMINISTRACION
*************************************************************************************/
.CajaMenuABM{
  position: relative;
  width:750px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

.CajaMenuABM h1{
  background-color: #3B1212;
  padding:20px 0;
  font-size:200%;
  font-weight:150;
  margin-left: 180px;
  width: 50%;
  text-align:center;
  color:#fff;
  border-radius: 20px;
}

.buttonMenuABM, .formMenuABM a{
    border-radius: 15px;
    background-color: #9E2B2B;
    color: #fff;
    width: 300px;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
/*    background: -webkit-gradient(linear, left top, left bottom, from(#243473), to(#1F1F1F));
    background: -moz-linear-gradient(top,  #243473,  #1F1F1F);
    background: linear-gradient(-90deg, #243473, #1F1F1F);*/
    /* rounded corner */
}
.buttonMenuABM:hover{
    background-color: #681A1A;
}

.buttonMenuABM:active {
  background-color: #8E3E3E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#buttonLogOFF {
  border-radius: 15px;
  position: static;
  background-color: #4C1414;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#buttonLogOFF span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#buttonLogOFF span:after {
  content: "SALIR";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}

#buttonLogOFF:hover span {
  padding-right: 40px;
}

#buttonLogOFF:hover span:after {
  opacity: 1;
  right: 0;
}

/************************************************************************************
GRILLA USUARIOS
*************************************************************************************/

.gridUsuarios {
    color:black;
    border: 2px solid #1D0505;
    position: static;
    width: 1300px;
    height: 400px;
}

#userABMboton{
    position: fixed;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;
}

.ui-grid, .ui-grid-viewport {
    height: auto !important;
}

/************************************************************************************
GRILLA LOCALES
*************************************************************************************/

#tituloVentanaModal{
    color: black;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.mySlides {
    display:none
}
.w3-left, .w3-right, .w3-badge {
    cursor:pointer
}
.w3-badge {
    height:13px;width:13px;padding:0
}

/************************************************************************************
NUEVO LOCAL
*************************************************************************************/

.cajaCargaFotos{
    margin: 0 auto;
    width: 25%;
    background-color: #411010;
    border: 10px solid #5A4848;
    border-radius: 40px;
}

#tablaOfertasAlta{
    margin: 0 auto;
    border: 5px solid #5A4848;
    color: white;
    border-radius: 10px;
    width: 20%;
}

#tablaOfertasAlta td{
    background-color: #461515;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-family: "Arial", Helvetica, sans-serif;
    color:#DBA78A;
}

#tablaOfertasAlta input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  padding: 2px;
}

/************************************************************************************
GRILLA PRODUCTOS
*************************************************************************************/
.CajaGrilla{
    width: 60%;
    margin: 0 auto;
}

.fotoGrilla{
    height: 45px;
    width: 45px;
}

.barraSearch{
    color:black;
}

/************************************************************************************
MAPA
*************************************************************************************/
.mapaUsuario{
    position: fixed;
    margin-top: 50px;
    margin-left: 30px;
    width: 550px;
    height: 450px;
}

.mapaLocal{
    position: fixed;
    margin-top: 50px;
    margin-left: 30px;
    width: 550px;
    height: 650px;
}

.MarkerGM{
    width: 35px;
    height: 35px;
}

.etiquetaMapa{
    font-size: 15px;
    color:white;
}
/*************************************************************************************/
/*FIN DE ESTILOS*/