<div class="container">

	<div class="CajaInicio animated bounceInRight">

	<!-- BARRA DE BUSQUEDA -->
		<input class="barraSearch" type="search" ng-model="buscador" placeholder="Buscar Entidad">


	<!-- GRILLA DE ENTIDADES -->
			<h1>Listado de entidades</h1>

				<table class='table table-striped table-responsive' id="listaEntidades" style="color:black">
					<thead>
						<tr>
							<th>  NUMERO   </th>
							<th>  Marca    </th>
							<th>  Fecha    </th>
							<th>  Color    </th>
							<th ng-hide="{{hideABM}}">  
								  BORRAR   </th>
							<!-- <th>  MODIFICAR  </th> -->
						</tr>
					</thead>

					<tr ng-repeat="entidad in ListadoEntidades | filter:buscador as resultado">

						<td>{{entidad.numero}}</td>
						<td>{{entidad.marca}}</td>
						<td>{{entidad.fecha}}</td>
						<td>{{entidad.color}}</td>

						<td ng-hide="{{hideABM}}">
						<button class='btn btn-danger' name='Borrar' ng-click="Borrar(entidad)"><span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>

						<!-- <td><button class='btn btn-warning' name='Modificar' ui-sref="entidad.modificar({dni:entidad.dni, sexo:entidad.sexo, fecha:entidad.fecha, partido:entidad.partido, foto:entidad.foto})"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td> -->

					</tr>

				</table>
			</div>

	</div>
</div>
</body>
</html>