<div class="CajaMenuABM"> 

<h1>MENU PRINCIPAL ABM</h1>
	<form class="formMenuABM">

	         <li class="buttonMenuABM" ng-hide="{{hideABM}}">
	         	<a ng-click="direccionar('Alta')">
	         		<span class="glyphicon glyphicon-plus-sign">&nbsp;</span>
	         		Alta
	         	</a>
	         </li><br><br>
	         <li class="buttonMenuABM" ng-hide="{{hideABM}}">
	         	<a ng-click="direccionar('Baja')">
	         		<span class="glyphicon glyphicon-minus-sign">&nbsp;</span>
	         		Baja
	         	</a>
	         </li><br><br>
	         <!-- <li class="buttonMenuABM" >
	         	<a ng-click="direccionar('Modificar')">
	         		<span class="glyphicon glyphicon-resize-horizontal">&nbsp;</span>
	         		Modificación
	         	</a> -->
	         </li><br><br>
	         <li  class="buttonMenuABM" >
	         	<a ng-click="direccionar('Grilla')"> 
	         		<span class="glyphicon glyphicon-th-list" >&nbsp;</span>
	         		Grilla
	         	</a>
	         </li>
	</form>

   </div>
</div>