<div class="CajaMenuABM">

<h1>MENU USUARIOS</h1>
	<form class="formMenuABM animated fadeInUp">

	         <br><br>
	         <button class="buttonMenuABM" ng-click="redirigir('Registrarse')">
	         		<span class="glyphicon glyphicon-user">&nbsp;</span>
	         		Crear usuario
	         </button><br><br>
	         <button class="buttonMenuABM" ng-click="redirigir('Baja')">
	         		<span class="glyphicon glyphicon-trash">&nbsp;</span>
	         		Borrar usuario
	         </button><br><br>
	         <button class="buttonMenuABM" ng-click="redirigir('Modificar')">
	         		<span class="glyphicon glyphicon-edit">&nbsp;</span>
	         		Modificar usuario
	         </button><br><br>
	         <button  class="buttonMenuABM" ng-click="redirigir('Grilla')">
	         		<span class="glyphicon glyphicon-th-list" >&nbsp;</span>
	         		Grilla
	         </button><br><br>
	         <button class="buttonMenuABM" ng-click="redirigir('GrillaDirectiva')">
	         		<span class="glyphicon glyphicon-import" >&nbsp;</span>
	         		Usuarios Registrados
	         </button><br><br>
	         

	         	<a id="buttonLogOFF" ng-click="redirigir('Logout')">
	         		<span class="glyphicon glyphicon-log-out" >&nbsp;</span>
	         	</a>
	</form>

   </div>
</div>
