<div class="CajaMenuABM">

<h1>MENU PRINCIPAL ADMINISTRADOR</h1>
	<form class="formMenuABM">

	         </li><br><br>
	         <li class="buttonMenuABM" >
	         	<a ng-click="redirigir('Registrarse')">
	         		<span class="glyphicon glyphicon-user">&nbsp;</span>
	         		Crear usuario
	         	</a>
	         </li><br><br>
	         <li class="buttonMenuABM" >
	         	<a ng-click="redirigir('Baja')">
	         		<span class="glyphicon glyphicon-trash">&nbsp;</span>
	         		Borrar usuario
	         	</a>
	         </li><br><br>
	         <li class="buttonMenuABM" >
	         	<a ng-click="redirigir('Modificar')">
	         		<span class="glyphicon glyphicon-edit">&nbsp;</span>
	         		Modificar usuario
	         	</a>	
	         </li><br><br>
	         <li  class="buttonMenuABM" >
	         	<a ng-click="redirigir('Grilla')">
	         		<span class="glyphicon glyphicon-th-list" >&nbsp;</span>
	         		Grilla
	         	</a>
	         </li><br><br>
	         <li  class="buttonMenuABM" >
	         	<a ng-click="redirigir('GrillaDirectiva')">
	         		<span class="glyphicon glyphicon-import" >&nbsp;</span>
	         		Directiva (Grilla)
	         	</a>
	         </li><br><br>
	         
	         <br><li  class="" >
	         	<button ng-click="redirigir('Logout')">
	         		LogOut
	         		<span class="glyphicon glyphicon-log-out" >&nbsp;</span>
	         	</button>
	         </li>
	</form>

   </div>
</div>
