<!doctype html>
<div class="container">
		<div class="animated bounceInRight">		
			<h3>{{tituloGrillaPersonas}}</h3>
			<div class="CajaGrilla">
			  <!--GRILLA UI-->
			  <div ui-grid="gridOptionsPersonas" external-scope="Borrar" class="myGrid" ui-grid-auto-resize></div>
			</div>
		</div>
	</div>
</div>			

<br><br>

<h3>GRILLA BACK-UP</h3>
<div class="container" style="color:black" name="backupList">
	<table class='table table-striped table-responsive' id="listaUsuarios">
		<thead>
			<tr>
				<th>  Nombre   </th>
				<th>  Email </th>
				<th>  Tipo  </th>
				<th>  BORRAR</th>
				<th>  MODIFICAR</th>
			</tr>
		</thead>

		<tr ng-repeat="usuario in ListadoUsuarios | filter:buscador as resultado">

			<td>{{usuario.nombre}}</td>
			<td>{{usuario.email}}</td>
			<td>{{usuario.tipo}}</td>

			<td><button class='btn btn-danger' name='Borrar' ng-click="Borrar(usuario)"><span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
			<td><button class='btn btn-warning' name='Modificar' ui-sref="usuario.modificar({id:usuario.id, nombre:usuario.nombre, email:usuario.email, tipo:usuario.tipo, pass:usuario.password})"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>

		</tr>

	</table>
</div>