<!doctype html>
<br><br>

    <table id="tablaPerfil" class="table animated flipInX">
        
        <tbody>

              <tr><th><strong>ID</strong></th><td>{{usuarioElegido.id_usuario}}</td></tr>
              <tr><th><strong>NOMBRE</strong></th><td>{{usuarioElegido.nombre}}</td></tr>
              <tr><th><strong>APELLIDO</strong></th><td>{{usuarioElegido.apellido}}</td></tr>
              <tr><th><strong>EDAD</strong></th><td>{{usuarioElegido.edad}}</td></tr>
              <tr><th><strong>SEXO</strong></th><td>{{usuarioElegido.sexo}}</td></tr>
              <tr><th><strong>CORREO</strong></th><td>{{usuarioElegido.correo}}</td></tr>
              <tr><th><strong>DIRECCION</strong></th><td>{{usuarioElegido.direccion}}</td></tr>
              <tr><th><strong>CLAVE</strong></th><td>{{usuarioElegido.clave}}</td></tr>
              <tr><th><strong>TIPO</strong></th><td>{{usuarioElegido.tipo_user}}</td></tr>
              <tr><th><strong>ESTADO</strong></th><td>{{usuarioElegido.estado}}</td></tr>

        </tbody>

        <button  class="button-green" name="updateButton" id="updateButton" ng-hide="botonActualizar" ng-click="Actualizar()"><span>{{DatoSubmit}}</span></button>
    </table>


      


<a  id="botonVolver" class="btn animated bounceInLeft" style="float:right" ui-sref="{{dondeVolver}}">
     Volver
     <span class="glyphicon glyphicon-home"></span>
<a>