<!doctype html>
<br><br>
<div class="table-responsive">
    <table id="tablaPerfil" class="table animated flipInX">
        <tbody>
              <tr><td><strong>ID</strong></td><td>{{usuarioElegido.id_usuario}}</td></tr>
              <tr><td><strong>NOMBRE</strong></td><td>{{usuarioElegido.nombre}}</td></tr>
              <tr><td><strong>APELLIDO</strong></td><td>{{usuarioElegido.apellido}}</td></tr>
              <tr><td><strong>EDAD</strong></td><td>{{usuarioElegido.edad}}</td></tr>
              <tr><td><strong>SEXO</strong></td><td>{{usuarioElegido.sexo}}</td></tr>
              <tr><td><strong>CORREOL</strong></td><td>{{usuarioElegido.correo}}</td></tr>
              <tr><td><strong>DIRECCION</strong></td><td>{{usuarioElegido.direccion}}</td></tr>
              <tr><td><strong>CLAVE</strong></td><td>{{usuarioElegido.clave}}</td></tr>
              <tr><td><strong>TIPO</strong></td><td>{{usuarioElegido.tipo_user}}</td></tr>
              <tr><td><strong>ESTADO</strong></td><td>{{usuarioElegido.estado}}</td></tr>
        </tbody>
    </table>
<button  class="button-green" name="updateButton" id="updateButton" ng-hide="botonActualizar" ng-click="Actualizar()"><span>{{DatoSubmit}}</span></button>
</div>
      


<a  id="botonVolver" class="btn animated bounceInLeft" style="float:right" ui-sref="{{dondeVolver}}">
     Volver
     <span class="glyphicon glyphicon-home"></span>
<a>