<br><br>
<!-- CAJA INICIO CLIENTE  -->
<div class="cajaClienteInicio">
  <h2>Seleccione un local de su preferencia</h2>
  <!-- Carga de imagenes -->
  <div id="cajaLocalFotos" class="w3-content" ng-show="verLocales">
    <div id="localFotoInicio" ng-repeat="local in lista_locales">	
      <img id="eleccionLocal" class="mySlides img-responsive" data-toggle="modal" data-target="#localSeleccionado" ng-src="img/Locales/{{local.foto1}}" ng-click="seleccionLocal(local, $index+1)" style="width:100%">
    </div>
  	<div class="w3-row-padding w3-section">
  	  <div class="w3" ng-repeat="localito in lista_locales">
  	      <span class="buttonSelectLocal" ng-click="currentDiv($index)">Local N°{{$index+1}}</span>
  	  </div>
  	</div>
  </div>

  <!-- PERFIL LOGUEADO -->
  <br>
  <div class="cajaIntroCliente">
      <span id="intro">{{nombrePerfil}}</span>
  </div>

<!-- FIN CAJA INICIO CLIENTE -->
</div>

<div name="loading" ng-show="loadingData">
  <img src="img/Gifs/loading_2.gif">
  <h2>Loading...</h2>
</div>

<!-- VENTANA MODAL LOCAL ELEGIDO -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="localSeleccionado" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="tituloVentanaModal" class="modal-title">{{localELegido}}</h4>
          </div>
          <!-- Body -->
	          <div class="modal-body" style="color:black">    
	          	  <p>DIRECCION: {{direccionLocal}}</p>
                  <ng-map center="[ubicacion]" ng-model="miMapa" id="mapa_local">
                        <custom-marker position="[ubicacion]">
                          <div>
                            <img class="MarkerGM" src="img/GoogleMaps/marker_1.png">
                          </div>
                          </custom-marker>
                  </ng-map>
	          </div>
	      <!-- Footer -->    
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="irLocalSeleccionado()" style="float:left">IR a local</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
 </div>
