<br><br>
<!-- CARGA DE FOTOS LOCALES  -->
<div class="w3-content">
    <div ng-repeat="local in lista_locales">	
	    <img id="eleccionLocal" class="mySlides img-responsive" data-toggle="modal" data-target="#localSeleccionado" ng-src="img/Locales/{{local.foto1}}" ng-click="seleccionLocal(local, $index+1)" style="width:100%">
    </div>
	<div class="w3-row-padding w3-section">
	  <div class="w3-col s2" ng-repeat="localito in lista_locales">
	      <span class="btn btn-danger btn-lg w3-opacity w3-hover-opacity-off" ng-click="currentDiv($index)">Local N°{{$index+1}}</span>
	  </div>
	</div>
</div>

<!-- PERFIL LOGUEADO -->
<br><div "cajaIntro">
    <span id="intro" class="">{{nombrePerfil}}</span>
</div>

<!-- VENTANA MODAL LOCAL ELEGIDO -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="localSeleccionado" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="tituloVentanaModal" class="modal-title">{{localELegido}}</h4>
          </div>
          <!-- Body -->
	          <div class="modal-body">    
	          HOLAAA!
	          </div>
	      <!-- Footer -->    
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
 </div>
