<div class="localCliente">	
	<div class="CajaMenuABM">

	<h1>MENU LOCAL N°{{numeroLocal}}</h1>
		<form class="formMenuABM animated fadeInUp">

		         <br><br>
		         <button class="buttonMenuABM" ng-click="redirigir('Registrarse')">
		         		<span class="glyphicon glyphicon-user">&nbsp;</span>
		         		PRODUCTOS
		         </button><br><br>
		         <button  class="buttonMenuABM" ng-click="redirigir('Grilla_Usuarios')">
		         		<span class="glyphicon glyphicon-th-list" >&nbsp;</span>
		         		OFERTAS
		         </button><br><br>
		         
		         	<a id="buttonLogOFF" ng-click="redirigir('Logout')">
		         		<span class="glyphicon glyphicon-log-out" >&nbsp;</span>
		         	</a>
		</form>

	   </div>
	</div>
</div>
