<div class="localCliente">	
	<div class="CajaMenuABM">

	<h1>MENU LOCAL</h1>
	<h3>Direccion: {{direccionLocal}}</h3>
		<form class="formMenuABM animated fadeInUp">
	         <br><br>
	         <button class="buttonMenuABM" ng-click="visualizar('Productos')" ng-disabled="disabledProductos">
	         		<span class="glyphicon glyphicon-user">&nbsp;</span>
	         		PRODUCTOS
	         </button><br><br>
	         <button  class="buttonMenuABM" ng-click="visualizar('Ofertas')" ng-disabled="disabledOfertas">
	         		<span class="glyphicon glyphicon-th-list" >&nbsp;</span>
	         		OFERTAS
	         </button><br><br>
	         
	         	<a id="buttonLogOFF" ng-click="cerrarSesion()">
	         		<span class="glyphicon glyphicon-log-out" >&nbsp;</span>
	         	</a>
		</form>
	</div>
</div>

<div class="cajaOperaciones">
	<!-- LISTADO DE PRODUCTOS -->
	<div ng-show="verProductos" class="listaProductos">
		<h2>PRODUCTOS</h2>
		<table class='table table-striped table-responsive'>
			<thead>
				<tr>
					<th>  CODIGO   </th>
					<th>  Nombre   </th>
					<th>  Precio   </th>
					<th>  Fotos    </th>
				</tr>
			</thead>
			<tr ng-repeat="producto in lista_productos | filter:buscador as resultado">
				<td>{{producto.id_producto}}</td>
				<td>{{producto.nombre}}</td>
				<td>${{producto.precio}}</td>
				<td><img id="fotoGrilla" class='fotoGrilla' ng-src="img/Productos/{{producto.foto1}}"/></td>
			</tr>
		</table><br>
		<button>Comprar</button>
		<button>Reservar</button>
	</div>

	<!-- LISTADO DE OFERTAS -->
	<div ng-show="verOfertas" class="listaOfertas">
		<h2>OFERTAS</h2>
		<button>Comprar</button>
		<button>Reservar</button>

	</div>
</div>