<div class="localCliente">
	<div class="CajaMenuABM">

	<h1>MENU LOCAL</h1>
	<h4><strong>Direccion:</strong> {{direccionLocal}}</h4>
		<form class="formMenuABM animated fadeInUp">
	         <br><br>
	         <button class="buttonMenuABM" ng-click="visualizar('Productos')" ng-disabled="disabledProductos">
	         		<span class="glyphicon glyphicon-th-list">&nbsp;</span>
	         		PRODUCTOS
	         </button><br><br>
	         <button  class="buttonMenuABM" ng-click="visualizar('Ofertas')" ng-disabled="disabledOfertas">
	         		<span class="glyphicon glyphicon-th-list" >&nbsp;</span>
	         		OFERTAS
	         </button><br><br>
	         <button  class="btn btn-danger" ng-click="dondeIr('inicio')">Volver</button> <br><br>
		</form>

		<!-- CAJA CONFIRMAR OPERACION -->
		<div ng-if="habilitarOperacion" class="cajaConfirmarOperacion">

			<hr><p><strong>PRODUCTOS SELECCIONADOS</strong></p>
			<div ng-repeat="eleccion in adquirir.productos">
				<p>{{eleccion.nombre}}</p>
			</div><hr>

			<p><strong>OFERTAS SELECCIONADAS</strong></p>
			<div ng-repeat="eleccion in adquirir.ofertas">
				<p>{{eleccion.titulo}}</p>
			</div><hr>
			<p><strong>TOTAL:</strong> ${{adquirir.precio_total}}</p><hr>
		</div><!-- FIN CAJA CONFIRMAR OPERACION -->
			<button class="btn btn-warning btn-lg" ng-click="Comprar()" ng-disabled="bloquearCompra">COMPRAR</button>&nbsp;
			<button class="btn btn-warning btn-lg" ng-click="Reservar()" ng-disabled="bloquearReserva">RESERVAR</button>
	
	</div><!-- FIN CAJA MENU -->

</div><!-- FIN CAJA LOCAL CLIENTE -->

<div class="cajaOperaciones">
	<!-- LISTADO DE PRODUCTOS -->
	<div ng-show="verProductos" class="listaProductos">
		<h2>PRODUCTOS</h2>
		<input class="barraSearch" type="search" ng-model="buscador" placeholder="Buscar producto">
		<table id="tablaProductos" class='table table-hover table-responsive'>
			<thead>
				<tr>
					<th>  CODIGO   </th>
					<th>  Nombre   </th>
					<th>  Precio   </th>
					<th>  Fotos    </th>
					<th>  Elegir   </th>
				</tr>
			</thead>
			<tr ng-repeat="producto in lista_productos | filter:buscador as resultado">
				<td>{{producto.id_producto}}</td>
				<td>{{producto.nombre}}</td>
				<td>${{producto.precio}}</td>
				<td><button class="btn" data-toggle="modal" data-target="#verProductos" ng-click="imagenProductos(producto, 'solo')"><img class="imgProducto img-responsive" ng-src="img/Productos/{{producto.foto1}}"></button></td>
				<td id="opcionProducto" style="width:20%"><input type="checkbox" id="{{producto.id_producto}}" ng-model="itemProducto" value="" ng-change="EleccionProducto(producto.id_producto)"/></td>
			</tr>
		</table><br>
	</div><!-- FIN LISTA PRODUCTOS -->

	<!-- LISTADO DE OFERTAS -->
	<div ng-show="verOfertas" class="listaOfertas">
		<h2>OFERTAS</h2>
		<input style="background-color: white" class="barraSearch" type="search" ng-model="buscador" placeholder="Buscar oferta">
		<table id="tablaOfertas" class='table table-hover table-responsive'>
			<thead>
				<tr>
					<th>  CODIGO    </th>
					<th>  Titulo    </th>
					<th>  Productos </th>
					<th>  Precio    </th>
					<th>  Elegir    </th>
				</tr>
			</thead>
			<tr ng-repeat="oferta in lista_ofertas | filter:buscador as resultado">
				<td>{{oferta.id_oferta}}</td>
				<td>{{oferta.titulo}}</td>
				<td><button class="btn" ng-click="verProductosDeOferta(oferta.id_oferta)">Ver productos</button></td>
				<td>${{oferta.precio}}</td>
				<td id="opcionOferta" style="width:20%"><input type="checkbox" id="{{oferta.id_oferta}}" ng-model="itemProducto" value="" ng-change="EleccionOferta(oferta.id_oferta)"/></td>
			</tr>
		</table><br>
	</div><!-- FIN LISTA OFERTAS -->

	<!-- VENTANA MODAL PRODUCTOS -->
	<div class="container">
	    <!-- Modal -->
	    <div class="modal fade" id="verProductos" role="dialog">
	      <div class="modal-dialog">
	      
	        <!-- Modal content-->
	        <div class="modal-content">
	          <!-- Header -->
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 id="tituloVentanaModal" class="modal-title">{{tituloGaleria}}</h4>
	          </div>
	          <!-- Body -->
		          <div class="modal-body" style="color:black">    
		          	
		          	<div ng-if="verSoloProductos" class="w3-content w3-display-container">
		                <img class="mySlides img-responsive" ng-src="img/Productos/{{fotoProducto_1}}" style="max-width:50%">
		                <img class="mySlides img-responsive" ng-src="img/Productos/{{fotoProducto_2}}" style="max-width:50%">
		                <img class="mySlides img-responsive" ng-src="img/Productos/{{fotoProducto_3}}" style="max-width:50%">
		                <div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
		                  <span class="w3-badge demo w3-border w3-transparent w3-hover-black" ng-click="elegirFoto(1)"></span>
		                  <span class="w3-badge demo w3-border w3-transparent w3-hover-black" ng-click="elegirFoto(2)"></span>
		                  <span class="w3-badge demo w3-border w3-transparent w3-hover-black" ng-click="elegirFoto(3)"></span>
		                </div>
		            </div>
	                
	                <div ng-if="verProductosPorOferta" class="w3-content w3-display-container">
	                	<div class="productoPorOferta" ng-repeat="product in lista_productos_oferta">
	                		<p class="productoEnvista">{{product.nombre}}</p>
		                	<img class="mySlides img-responsive" ng-src="img/Productos/{{product.foto1}}" style="max-width:50%">
		                </div>
		                <div class="w3-center w3-section w3-large w3-text-black w3-display-bottommiddle" style="width:100%">
		              	  <div class="w3-left  w3-padding-left w3-hover-text-orange" ng-click="moverFoto(-1)">&#10094;</div>
		                  <div class="w3-right w3-padding-right w3-hover-text-orange" ng-click="moverFoto(1)">&#10095;</div>
	               		</div>
	                </div>
	               </div>

		          </div>
		      <!-- Footer -->    
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	          </div>
	        </div>
	      </div>
	    </div>
	 </div>


	 <!-- VENTANA MODAL FIN OPERACION -->
	<div class="container">
	    <!-- Modal -->
	    <div class="modal fade" id="caminoAencuesta" role="dialog">
	      <div class="modal-dialog">
	      
	        <!-- Modal content-->
	        <div class="modal-content">
	          <!-- Header -->
	          <div class="modal-header">
	            <h4 id="tituloVentanaModal" class="modal-title">{{tituloOperacion}}</h4>
	          </div>
	          <!-- Body -->
		          <div class="modal-body" style="color:black">

			            <!-- CONFIRMAR OPERACION -->
			            <div ng-if="cajaOperacionFinalizada">
			            	<p>La operacion para el cliente a finalizado con éxito</p>
		            		<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="dondeIr('inicio')" style="float:right">Aceptar</button>
			            </div>

			          	<!-- SELECCION DE FECHA DE LA RESERVA -->
			          	<div ng-if="cajaFechaReserva">
				          	<p>Seleccione una fecha válida para la reserva</p>
				          	
					            <div class="form-group">
					            	<label>Reserva válida (2 a 5 días)</label>
					                <input type='text' class="form-control" id='datetimepicker' ng-model="fechaPorDefecto"/>
					            </div>
					            <label class="mensajeAlerta" ng-show="alertaFechaErronea">Error. Por favor seleccione una fecha válida</label><br>
			            		<script type="text/javascript">
						        	$(function () {
						                $('#datetimepicker').datetimepicker({
						                	format:"YYYY-MM-DD"
						                });
						            });
						        </script>
					        <button type="button" class="btn btn-success" ng-click="validarFechaReserva('encuesta')">Reservar</button>
			            	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="resetearFecha()">Cancelar</button><br>
				        </div>
				        <!-- FINALIZACIÓN DE OPERACION/ IR A ENCUESTA -->
			          	<div ng-if="cajaIrEncuesta">
			          		<div>
					          	<p>¿Desea completar una encuesta a continuación?</p>
					          	<button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="dondeIr('encuesta')">SI</button>
			            		<button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="dondeIr('inicio')">NO</button>
			            	</div>
				        </div>
			      </div>

		       </div>
		      <!-- Footer -->    
	      </div>
	    </div>
	 </div>

</div><!-- FIN CAJA OPERACIONES -->