<div class="cajaUsuariosGrilla">	
<!-- INICIO USUARIOS GRILLA -->

	<!-- MENU NAVEGACIÓN -->
	<button  class="btn btn-danger" style="float:left" ui-sref="usuario.menu()">Volver</button><br>

	<!-- PRESENTACION GRILLA -->
	<div ng-show="verUsuarios">
			<div class="animated bounceInRight">		
				<h3 id="tituloGrilla">{{tituloGrillaUsuarios}}</h3>
				<div class="CajaGrilla">
				  <!--GRILLA UI-->
				  <button class="btn btn-success btn-block" ui-sref="usuario.registro">Crear usuario</button>
				  <div ui-grid="gridOptionsUsuarios" class="gridUsuarios" 
					    ui-grid-resize-columns
					    ui-grid-selection
					    ui-grid-exporter>
				  	</div>
				  	<li  id="botonVolver" class="btn btn-block" style="float:right" ui-sref="usuario.menu()">
						Volver
					</li>
				</div>
		    </div>
	</div>

	<div name="loading" ng-show="loadingData">
	  <img src="img/Gifs/loading_2.gif">
	  <h2>Loading...</h2>
	</div>

<!-- VENTANA MODAL MAPA -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="usuarioSeleccionado" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="tituloVentanaModal" class="modal-title">Dirección de usuario: {{ubicacion}}</h4>
          </div>
          <!-- Body -->
	          <div class="modal-body" style="color:black">    

                  <div class="cajaMapa">
                  <p>USUARIO: {{usuario}}</p>
                    <ng-map id="mapa_usuario"></ng-map>
                  </div>
	          </div>
	      <!-- Footer -->    
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" style="float:right" ng-click="reiniciarMapa()">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
 </div>

<!-- VENTANA MODAL CONFIRMAR BORRADO -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="confirmarBorrar" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="tituloVentanaModal" class="modal-title">ADVERTENCIA <span class="glyphicon glyphicon-warning-sign"></span></h4>
          </div>
          <!-- Body -->
	          <div class="modal-body" style="color:black">    
	          <p style="color:red"><strong>ALERTA! </strong>Esta por eliminar información sensible del sistema</p>
                <form name="myForm" role="form">
                  <div class="form-group">
                    <label for="ingresoPass">Para confirmar por favor ingrese su contraseña a continuación...</label><br>
                    <input type="password" class="form-control" id="ingresoPass" value="" ng-model="passIngresada" placeholder="contraseña" required />
                  </div>
                  <div class="form-group" ng-show="passErroneo">
                  	<br><label for="ingresoPass" style="color:red">Password incorrecto! por favor, ingrese nuevamente su clave</label>
                  </div>
                </form>
	          </div>
	      <!-- Footer -->    
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-disabled="myForm.$invalid" style="float:right" ng-click="confirmarBorrado()">Confirmar</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal" style="float:left">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
 </div>

<!-- FIN USUARIOS GRILLA -->
</div>