<div class="CajaMenuABM">

<h1>ADMINISTRACION</h1>
	<form class="formMenuEstadistica animated fadeInUp">

	         <br><br>
	         <button class="buttonMenuABM" ng-click="redirigir('Usuario_alta')">
	         		<span class="glyphicon glyphicon-cloud-upload">&nbsp;</span>
	         		Crear usuario
	         </button><br>
	         <div ng-if="esAdministrador">
		         <button  class="buttonMenuABM" ng-click="redirigir('Local_alta')">
		         		<span class="glyphicon glyphicon-cloud-upload" >&nbsp;</span>
		         		Crear local
		         </button><br><br>
		     </div>
	         <button  class="buttonMenuABM" ng-click="redirigir('Grilla_Usuarios')">
	         		<span class="glyphicon glyphicon-th-list" >&nbsp;</span>
	         		Ver Usuarios
	         </button><br>
	         <button  class="buttonMenuABM" ng-click="redirigir('Grilla_Locales')">
	         		<span class="glyphicon glyphicon-th-list" >&nbsp;</span>
	         		Ver Locales
	         </button><br>
	         <button  class="buttonMenuABM" ng-click="redirigir('Grilla_Productos')">
	         		<span class="glyphicon glyphicon-th-list" >&nbsp;</span>
	         		Ver Productos
	         </button><br><br>
	         <button class="buttonMenuABM" ng-click="redirigir('Grilla_Usuarios_Directiva')">
	         		<span class="glyphicon glyphicon-info-sign" >&nbsp;</span>
	         		Usuarios Registrados
	         </button><br>
	         <button class="buttonMenuABM" ng-click="redirigir('Diagrama_DER')">
	         		<span class="glyphicon glyphicon-info-sign" >&nbsp;</span>
	         		Diagrama Entidad-Relación
	         </button><br><br>
	         

	         	<a id="buttonLogOFF" ng-click="redirigir('Logout')">
	         		<span class="glyphicon glyphicon-log-out" >&nbsp;</span>
	         	</a>
	</form>

   </div>
</div>
