<div class="cajaEstadisticas"></div>
	<!-- MENU ESTADISTICAS -->
	<div class="CajaMenuEstadistica">
	<h1>ESTADISTICAS</h1>
		<form class="formMenuABM animated fadeInUp">

		         <br><br>
		         <button class="buttonMenuEstadistica" ng-click="consultar('ventas_local')" ng-disabled="opcion_ventasLocal">
		         		<span class="glyphicon glyphicon-th-list">&nbsp;</span>
		         		Ventas - local
		         </button><br><br>
		         <button  class="buttonMenuEstadistica" ng-click="consultar('ventas_empleado')" ng-disabled="opcion_ventasEmpleado">
		         		<span class="glyphicon glyphicon-th-list" >&nbsp;</span>
		         		Ventas - empleado
		         </button><br><br>
		         <button class="buttonMenuEstadistica" ng-click="consultar('ventas_fechas')" ng-disabled="opcion_ventasEntreFechas">
		         		<span class="glyphicon glyphicon-calendar" >&nbsp;</span>
		         		Ventas - producto e/ fechas
		         </button><br><br>
		         <button  class="buttonMenuEstadistica" ng-click="consultar('ventas_dia')" ng-disabled="opcion_importePordia">
		         		<span class="glyphicon glyphicon-tasks" >&nbsp;</span>
		         		Ventas - importe del día
		         </button><br><br>
		         <button  class="buttonMenuEstadistica" ng-click="consultar('compras_cliente')" ng-disabled="opcion_clienteOperaciones">
		         		<span class="glyphicon glyphicon-shopping-cart" >&nbsp;</span>
		         		Cliente - operaciones
		         </button><br><br>
		         <button class="buttonMenuEstadistica" ng-click="consultar('registro_sesiones')" ng-disabled="opcion_registroSesiones">
		         		<span class="glyphicon glyphicon-user" >&nbsp;</span>
		         		Registro - inicios de sesión
		         </button><br><br>
		         <button class="buttonMenuEstadistica" ng-click="consultar('encuesta_estadistica')" ng-disabled="opcion_encuestaEstadistica">
		         		<span class="glyphicon glyphicon-check" >&nbsp;</span>
		         		Encuesta - estadística
		         </button><br><br>
		         

		         	<a id="buttonLogOFF" ng-click="cerrarSesion()">
		         		<span class="glyphicon glyphicon-log-out" >&nbsp;</span>
		         	</a>
		</form>
	</div>
	<!-- FIN CAJA MENU ESTADISTICAS -->

	<!-- CAJA VISTAS TOTALES -->
	<div class="cajaEstadisticaSeleccionada">

		<!-- CAJA CONSULTA VENTAS -->
		<div ng-show="verConsultaOperaciones" class="listaOperaciones">
			<h2>OPERACIONES {{tipoOperacion}}</h2>
			<input class="barraSearch" type="search" ng-model="buscador" placeholder="Buscar operacion">
			<table id="tablaOperaciones" class='table table-hover table-responsive'>
				<thead>
					<tr>
						<th>  CODIGO  </th>
						<th>  Tipo    </th>
						<th>  Fecha   </th>
						<th>  Local   </th>
						<th>  Usuario </th>
						<th>  Total   </th>
						<th>  Detalle </th>
					</tr>
				</thead>
				<tr ng-repeat="operacion in operaciones_filtradas | filter:buscador as resultado">
					<td>{{operacion.id_operacion}}</td>
					<td>{{operacion.tipo_operacion}}</td>
					<td>{{operacion.fecha}}</td>
					<td>{{operacion.id_local}}</td>
					<td>{{operacion.id_usuario}}</td>
					<td>${{operacion.total}}</td>
					<td><button class="btn" ng-click="detalleOperacion(operacion.id_operacion, operacion.tipo_operacion)">Ver detalle</button></td>
				</tr>
			</table><br>
		</div><!-- FIN LISTA OPERACIONES -->

		<!-- CAJA CONSULTA REGISTRO SESIONES -->
		<div ng-show="verConsultaRegistroSesiones" class="listaRegistroSesiones">
			<h2>REGISTRO DE SESIONES</h2>
			<input class="barraSearch" type="search" ng-model="buscador" placeholder="Buscar usuario">
			<table id="tablaRegistro_sesiones" class='table table-hover table-responsive'>
				<thead>
					<tr>
						<th>  REGISTRO N°  </th>
						<th>  Usuario    </th>
						<th>  Nombre   </th>
						<th>  Perfil   </th>
						<th>  Fecha   </th>
						<th>  Hora </th>
					</tr>
				</thead>
				<tr ng-repeat="registro in lista_registros_totales | filter:buscador as resultado">
					<td>{{registro.id_registro}}</td>
					<td>{{registro.id_usuario}}</td>
					<td>{{registro.nombre}}</td>
					<td>{{registro.tipo_usuario}}</td>
					<td>{{registro.fecha}}</td>
					<td>{{registro.hora}}</td>
				</tr>
			</table><br>
		</div><!-- FIN LISTA DE SESIONES -->

		<!-- CAJA CONSULTA REGISTRO SESIONES -->
		<div ng-show="verConsultaEncuestaEstadisticas" class="listaEncuestaEstadisticas">
			<h2>ESTADISTICAS</h2>
			<canvas id="doughnut" class="chart chart-doughnut"
			  chart-data="datos_encuesta" chart-labels="etiquetasGrafico">
			</canvas><br><br>
			<canvas id="pie" class="chart chart-pie"
			  chart-data="datos_encuesta" chart-labels="etiquetasGrafico" chart-options="options">
			</canvas>
		</div><!-- FIN LISTA DE SESIONES -->
	
	<!-- FIN CAJA VISTAS TOTALES -->
	</div>

	<!-- MODAL ANTE OPCIONES EXTRA -->
	<div class="container">
	    <!-- Modal -->
	    <div class="modal fade" id="opcionesConsulta" role="dialog">
	      <div class="modal-dialog">
	      
	        <!-- Modal content-->
	        <div class="modal-content">
	          <!-- Header -->
	          <div class="modal-header">
	            <h4 id="tituloVentanaModal" class="modal-title">{{tituloModalOpciones}}</h4>
	          </div>
	          <!-- Body -->
		          <div class="modal-body" style="color:black">

			            <!-- SELECCIONAR LOCAL -->
			            <div class="cajaOpcionModal" ng-if="modalSeleccionarLocal">
			            	<form name="frmSelectLocal" role="form">
			            		<div class="form-group">
			            		  <label for="opcionLocal">Seleccione un local para realizar la consulta</label>
					            	<select class="form-control" id="opcionLocal" ng-model="localElegido" ng-options="c.code as c.name for c in locales" required>
							          <option value="">--Seleccione Local--</option>
							        </select>
							    </div>
							    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="filtrar('venta_local')" ng-disabled="frmSelectLocal.$invalid">Consultar</button>
							    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="desbloquearBoton('opcion_ventasLocal')">Cancelar</button>
						    </form>
			            </div>

			          	<!-- SELECCIONAR FECHAS PARA BUSQUEDA PRODUCTO/OFERTA MAS VENDIDO -->
			          	<div class="cajaOpcionModal" ng-if="modalSeleccionarDosFechas">
				          	<p>Seleccione fechas a consultar</p>
				          	
					            <div class="form-group">
					            	<label for="fecha_uno">Fecha 1</label>
					                <input type='text' class="form-control" id='fecha_uno' ng-model="fechaPorDefecto"/><br>
					                <label for="fecha_dos">Fecha 2</label>
					                <input type='text' class="form-control" id='fecha_dos' ng-model="fechaPorDefecto"/>
					            </div>
			            		<script type="text/javascript">
						        	$(function () {
						                $('#fecha_uno').datetimepicker({
						                	format:"YYYY-MM-DD"
						                });
						            });
						            $(function () {
						                $('#fecha_dos').datetimepicker({
						                	format:"YYYY-MM-DD"
						                });
						            });
						        </script>
					        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="filtrar('venta_entre_fechas')">Consultar</button>
			            	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="desbloquearBoton('opcion_ventasEntreFechas')">Cancelar</button><br>
				        </div>

				        <!-- SELECCIONAR FECHA PARA IMPORTE DEL DIA -->
			          	<div class="cajaOpcionModal" ng-if="modalSeleccionarUnicaFecha">
				          	<p>Seleccione fecha a consultar</p>
				          		<div class="form-group">
					                <input type='text' class="form-control" id='fecha_importeDelDia' ng-model="fechaPorDefecto"/>
					            </div>
			            		<script type="text/javascript">
						        	$(function () {
						                $('#fecha_importeDelDia').datetimepicker({
						                	format:"YYYY-MM-DD"
						                });
						            });
						        </script>
					        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="filtrar('venta_por_fecha')">Consultar</button>
			            	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="desbloquearBoton('opcion_importePordia')">Cancelar</button><br>
				        </div>

				        <!-- SELECCIONAR ENCUESTA ESTADISTICA RESPUESTA -->
			          	<div id="cajaEncuestaOpciones" class="cajaOpcionModal" ng-if="modalSeleccionarRespuestaEncuesta">
				          	<p>Seleccione opción para ver las estadísticas</p>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_1')"><span>1</span>-Variedad de pizza favorita</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_2')"><span>2</span>-Tipo de pizza preferida</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_3')"><span>3</span>-Ingrediente principal</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_4')"><span>4</span>-Frecuencia de consumo</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_5')"><span>5</span>-Variedad del producto</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_6')"><span>6</span>-Motivo de elección del producto</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_7')"><span>7</span>-Recomendaría a un amigo</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_8')"><span>8</span>-Considera positiva imagen del producto</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_9')"><span>9</span>-Nivel de ratonez</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_10')"><span>10</span>-Precios razonables</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_11')"><span>11</span>-Nivel de satisfacción</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_12')"><span>12</span>-Conocimiento de la marca</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_13')"><span>13</span>-Medio por el que conoció la marca</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_14')"><span>14</span>-Conformidad con ubicación de locales</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_15')"><span>15</span>-Necesidad de servicio de delivery</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_16')"><span>16</span>-Tiempo de espera aceptado</button>
<!-- 					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_17')">17-Opinion acerca de la página</button> -->
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_18')"><span>18</span>-Inconvenientes con la página</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_19')"><span>19</span>-Posibles mejoras a la página</button>
					        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="estadistica('pregunta_20')"><span>20</span>-Futura elección de lugar para comprar</button>
			            	<br><button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="desbloquearBoton('opcion_encuestaEstadistica')">Cancelar</button><br>
				        </div>

			      </div> <!-- FIN CUERPO MODAL -->

		       </div>
		      <!-- Footer -->    
	      </div>
	    </div>
	 </div>
	 <!-- FIN MODAL OPCIONES -->

<!-- VENTANA MODAL DETALLE OPERACION -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="verDetalleOperacion" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="tituloVentanaModal" class="modal-title">Detalles de la operación</h4>
          </div>
          <!-- Body -->
	          <div class="modal-body" style="color:black">    
	          	
	          	<p><strong>OPERACION:</strong> *{{tipo_Operacion}}*</p>
	          	<p><strong>N° detalle:</strong> {{idDetalle}}</p>
	          	<p><strong>Productos (n°):</strong> {{productosAsociados}}</p>
	          	<p><strong>Precio final:</strong> {{precioFinal}}</p>
	          	<div ng-show="esReserva">
	          		<p><strong>Entrega:</strong> {{fechaEntrega}}</p>
	          	</div> 
	          </div>
	      <!-- Footer -->    
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
 </div>

<!-- FIN VISTA GENERAL -->
</div>

