<div class="cajaEstadisticas"></div>	
	<div class="CajaMenuEstadistica">
	<h1>ESTADISTICAS</h1>
		<form class="formMenuABM animated fadeInUp">

		         <br><br>
		         <button class="buttonMenuABM" ng-click="redirigir('ventas_local')">
		         		<span class="glyphicon glyphicon-th-list">&nbsp;</span>
		         		Ventas - local
		         </button><br><br>
		         <button  class="buttonMenuABM" ng-click="redirigir('ventas_empleado')">
		         		<span class="glyphicon glyphicon-th-list" >&nbsp;</span>
		         		Ventas - empleado
		         </button><br><br>
		         <button class="buttonMenuABM" ng-click="redirigir('ventas_fechas')">
		         		<span class="glyphicon glyphicon-calendar" >&nbsp;</span>
		         		Ventas - producto e/ fechas
		         </button><br><br>
		         <button  class="buttonMenuABM" ng-click="redirigir('ventas_dia')">
		         		<span class="glyphicon glyphicon-tasks" >&nbsp;</span>
		         		Ventas - importe del día
		         </button><br><br>
		         <button  class="buttonMenuABM" ng-click="redirigir('compras_cliente')">
		         		<span class="glyphicon glyphicon-shopping-cart" >&nbsp;</span>
		         		Cliente - operaciones
		         </button><br><br>
		         <button class="buttonMenuABM" ng-click="redirigir('registro_sesiones')">
		         		<span class="glyphicon glyphicon-user" >&nbsp;</span>
		         		Registro - inicios de sesión
		         </button><br><br>
		         <button class="buttonMenuABM" ng-click="redirigir('encuesta_estadistica')">
		         		<span class="glyphicon glyphicon-check" >&nbsp;</span>
		         		Encuesta - estadística
		         </button><br><br>
		         

		         	<a id="buttonLogOFF" ng-click="redirigir('Logout')">
		         		<span class="glyphicon glyphicon-log-out" >&nbsp;</span>
		         	</a>
		</form>
	</div>
	<!-- FIN CAJA MENU ESTADISTICAS -->

</div>

