<!-- MAPA INTERACTIVO -->
<div class="mapaUsuario" map-lazy-load="https://maps.google.com/maps/api/js"  map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1yfspgHALVbgR-ws1QhQnRjTReRfrDJU">
  <ng-map center="[{{ubicacion}}]" ng-model="miMapa" id="miMapaModal">
  		  <custom-marker position="[{{ubicacion}}]">
  		  	<div>
  		  		<img class="MarkerGM" src="img/GoogleMaps/marker_1.png">
  		  	</div>
          </custom-marker>
  </ng-map>
  <span class="etiquetaMapa">{{direccionEnMapa}}</span>
</div>

<!-- MENU NAVEGACIÓN -->
<button  class="btn btn-danger" style="float:left" ui-sref="usuario.menu()">Volver</button>
<button class="btn btn-success" style="float:right" ui-sref="usuario.registro">Crear usuario</button>

<!-- PRESENTACION GRILLA -->
<div class="container">
		<div class="animated bounceInRight">		
			<h3>{{tituloGrillaUsuarios}}</h3>
			<div class="CajaGrilla">
			  <!--GRILLA UI-->
			  <div ui-grid="gridOptionsUsuarios" class="gridUsuarios" ui-grid-auto-resize></div>
			</div>
		</div>
	</div>
</div>


<li  id="botonVolver" class="btn" style="float:right" ui-sref="usuario.menu()">
	Volver
</li>